h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.rcui-field {
  padding-bottom: 10px;
}

.rcui-header {
  padding-bottom: 5px;
}

.block {
  display: inline-block;
}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.w100 {width: 100%;}

#rcui-request {
  color: #777;
  background-color: #f6f7fa;  
  border: 1px solid #c2cbcf;
  padding: 1.25em;
}

#rcui-response-details {
  color: #777;
  background-color: #f6f7fa;  
  border: 1px solid #c2cbcf;
  padding: 1.25em;  
}

#rcui-response-message {  
  background-color: #f6d3cf;  
  border: 1px solid #d66c68;
  padding: 1.25em;
}

.button-action {
  margin-top: 1.25em;
}


